openapi: 3.0.3
info:
  title: Redaktionen API
  description: |
    AI-powered news aggregation and analysis system that performs PESTEL (Political, Economic, Social, Technological, Environmental, Legal) analysis on input signals.

    Developed by Innovationsarenan @ Göteborgsregionen.
  version: 1.0.0
  contact:
    name: Innovationsarenan @ Göteborgsregionen

servers:
  - url: https://redaktionen.innovationsarenan.dev/api
    description: Production server

tags:
  - name: Workflows
    description: Workflow orchestration for PESTEL analysis
  - name: Agents
    description: AI agents for news analysis and content generation
  - name: Signals
    description: Raw news signals from RSS feeds or newsletters inbound mails
  - name: Sources
    description: RSS and newsletter sources for news aggregation
  - name: Reports
    description: AI-generated reports including summaries, foresight analysis, and PESTEL analysis
  - name: Summaries
    description: AI-generated summaries with poster images
  - name: Webhooks
    description: Webhook endpoints for external integrations

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication via Authorization header

  schemas:
    Factor:
      type: string
      enum:
        - political
        - economic
        - social
        - technological
        - environmental
        - legal
      description: PESTEL factor category

    Perspective:
      type: string
      enum:
        - utopia
        - dystopia
        - reform
        - system
        - speculative
        - historic
      description: Analytical perspective for content generation

    ReportType:
      type: string
      enum:
        - summary
        - foresight
        - analysis
      description: Type of report

    AgentType:
      type: string
      enum:
        - tipster
        - correspondent
        - artdirector
        - analysts
        - editor
        - foresighter
      description: Type of AI agent

    LLMConfig:
      type: object
      properties:
        provider:
          type: string
          description: LLM provider name
          example: "openai"
        model:
          type: string
          description: Model identifier
          example: "gpt-4"
      required:
        - provider
        - model

    Agent:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
          example: "abc12345"
        type:
          $ref: "#/components/schemas/AgentType"
        name:
          type: string
          description: Agent name
          example: "Environmental Analyst"
        description:
          type: string
          description: Agent description
          example: "Analyzes environmental news and trends"
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: URL to the agent's avatar image
          example: "https://storage.supabase.co/images/avatar-123.jpg"
        agencyId:
          type: string
          description: Associated agency ID
          example: "agency-123"
        llm:
          allOf:
            - $ref: "#/components/schemas/LLMConfig"
          nullable: true
          description: LLM configuration for this agent
        angle:
          oneOf:
            - $ref: "#/components/schemas/Factor"
            - $ref: "#/components/schemas/Perspective"
          description: Factor or Perspective depending on Agent type
        prompt:
          type: string
          nullable: true
          description: System prompt for the agent
          example: "You are an environmental analyst..."
      required:
        - id
        - type
        - name
        - description
        - angle

    AgentInput:
      type: object
      properties:
        id:
          type: string
          description: Optional identifier (will be generated if not provided)
          example: "abc12345"
        type:
          $ref: "#/components/schemas/AgentType"
        name:
          type: string
          description: Agent name
          example: "Environmental Analyst"
        description:
          type: string
          description: Agent description
          example: "Analyzes environmental news and trends"
        agencyId:
          type: string
          description: Associated agency ID
          example: "agency-123"
        llm:
          allOf:
            - $ref: "#/components/schemas/LLMConfig"
          nullable: true
          description: LLM configuration for this agent
        angle:
          oneOf:
            - $ref: "#/components/schemas/Factor"
            - $ref: "#/components/schemas/Perspective"
          description: Factor or Perspective depending on Agent type
        prompt:
          type: string
          nullable: true
          description: System prompt for the agent
          example: "You are an environmental analyst..."
      required:
        - type
        - name
        - description
        - angle

    SourceType:
      type: string
      enum:
        - rss
        - newsletter
      description: Type of news source

    Source:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 1
        agencyId:
          type: string
          description: Associated agency ID
          example: "agency-123"
        source:
          type: string
          description: Name of the source
          example: "BBC News"
        type:
          $ref: "#/components/schemas/SourceType"
        url:
          type: string
          format: uri
          description: URL to the RSS feed or newsletter
          example: "https://feeds.bbci.co.uk/news/rss.xml"
        factor:
          $ref: "#/components/schemas/Factor"
      required:
        - source
        - type
        - url
        - factor

    SourceInput:
      type: object
      properties:
        agencyId:
          type: string
          description: Optional associated agency ID
          example: "agency-123"
        source:
          type: string
          description: Name of the source
          example: "BBC News"
        type:
          $ref: "#/components/schemas/SourceType"
        url:
          type: string
          format: uri
          description: URL to the RSS feed or newsletter
          example: "https://feeds.bbci.co.uk/news/rss.xml"
        factor:
          $ref: "#/components/schemas/Factor"
      required:
        - source
        - type
        - url
        - factor

    Signal:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 1
        title:
          type: string
          description: News item title
          example: "New Environmental Policy Announced"
        summary:
          type: string
          description: Brief summary of the news item
          example: "Government announces stricter carbon emission standards for 2025."
        source:
          type: string
          description: Name of the news source
          example: "BBC News"
        sourceUrl:
          type: string
          format: uri
          description: URL to the original news article
          example: "https://example.com/article"
        date:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: "2025-01-15T10:30:00Z"
        factor:
          $ref: "#/components/schemas/Factor"
      required:
        - title
        - summary
        - source
        - sourceUrl
        - date
        - factor

    Summary:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 1
        title:
          type: string
          description: Swedish article title generated by AI
          example: "Ny miljöpolitik kan förändra industrin"
        body:
          type: string
          description: Full Swedish article body generated by AI
          example: "Regeringen har nyligen tillkännagivit en ny miljöpolitik..."
        posterUrl:
          type: string
          format: uri
          nullable: true
          description: URL to the generated poster image
          example: "https://storage.supabase.co/images/poster-123.jpg"
        signalId:
          type: integer
          description: Reference to the source signal
          example: 42
        sourceUrl:
          type: string
          format: uri
          description: URL to the original article
          example: "https://example.com/article"
        factor:
          type: string
          description: PESTEL factor
          example: "environmental"
        date:
          type: string
          format: date-time
          description: Publication date
          example: "2025-01-15T10:30:00Z"
        scope:
          type: string
          description: Geographic or thematic scope of the article
          example: "Sweden"
      required:
        - title
        - body
        - signalId
        - sourceUrl
        - factor
        - date
        - scope

    Report:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
          example: "rpt-abc12345"
        title:
          type: string
          description: Report title
          example: "Environmental Trends Q1 2025"
        lede:
          type: string
          description: Report lead/summary paragraph
          example: "A comprehensive analysis of environmental policy changes..."
        body:
          type: string
          description: Full report body content
          example: "This quarter has seen significant developments..."
        author:
          type: string
          description: Author or agent that generated the report
          example: "Environmental Correspondent"
        posterUrl:
          type: string
          format: uri
          nullable: true
          description: URL to the report's poster image
          example: "https://storage.supabase.co/images/report-123.jpg"
        type:
          $ref: "#/components/schemas/ReportType"
        factors:
          type: array
          items:
            $ref: "#/components/schemas/Factor"
          description: PESTEL factors covered in the report
          example: ["environmental", "political"]
        perspective:
          allOf:
            - $ref: "#/components/schemas/Perspective"
          description: Analytical perspective of the report
        sources:
          type: array
          items:
            $ref: "#/components/schemas/Source"
          description: Sources used in the report
      required:
        - title
        - lede
        - body
        - author
        - type
        - sources

    SignalsResponse:
      type: object
      properties:
        signals:
          type: array
          items:
            $ref: "#/components/schemas/Signal"

    AgentsResponse:
      type: array
      items:
        $ref: "#/components/schemas/Agent"

    SourcesResponse:
      type: array
      items:
        $ref: "#/components/schemas/Source"

    ReportsResponse:
      type: array
      items:
        $ref: "#/components/schemas/Report"

    SummariesResponse:
      type: array
      items:
        $ref: "#/components/schemas/Summary"

    WorkflowInput:
      type: object
      properties:
        name:
          type: string
          description: Workflow name
          example: "PESTEL Analysis January 2025"
        description:
          type: string
          description: Optional workflow description
          example: "Monthly PESTEL analysis for environmental and economic factors"
        factors:
          type: array
          items:
            $ref: "#/components/schemas/Factor"
          description: PESTEL factors to analyze
          example: ["environmental", "economic"]
        foresight:
          type: boolean
          description: Enable foresight team
          example: true
        analysts:
          type: boolean
          description: Enable analyst agents
          example: true
        tipLimit:
          type: integer
          description: Maximum number of RSS items to process per source
          minimum: 1
          example: 5
      required:
        - name
        - factors
        - foresight
        - analysts
        - tipLimit

    WorkflowResponse:
      type: object
      properties:
        message:
          type: string
          example: "Workflow 'PESTEL Analysis January 2025' started."

    HealthResponse:
      type: object
      properties:
        message:
          type: string
          example: "Hello from Redaktionen API!"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "This is a clear error message"

    AuthResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "You are not authorized to interact with this resource"

    WebhookResponse:
      type: object
      properties:
        message:
          type: string
          example: "Webhook triggered."

paths:
  /:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns a simple health check message to verify the API is running
      operationId: healthCheck
      responses:
        "200":
          description: API is running
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /workflows:
    post:
      tags:
        - Workflows
      summary: Start PESTEL workflow
      description: |
        Triggers the PESTEL workflow which:
        1. Runs tipster agents to fetch RSS feeds for specified PESTEL factors
        2. Processes signals based on configuration
        3. Optionally enables foresight analysis and analyst agents
      operationId: createWorkflow
      security:
        - BearerAuth: []
      requestBody:
        description: Workflow configuration
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowInput"
            example:
              name: "PESTEL Analysis January 2025"
              description: "Monthly PESTEL analysis focusing on environmental and economic factors"
              factors: ["environmental", "economic", "technological"]
              foresight: true
              analysts: true
              tipLimit: 5
      responses:
        "200":
          description: Workflow started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /agents:
    get:
      tags:
        - Agents
      summary: List agents
      description: Retrieves all AI agents from the database, optionally filtered by agent type
      operationId: listAgents
      parameters:
        - name: type
          in: query
          description: Filter agents by type
          required: false
          schema:
            $ref: "#/components/schemas/AgentType"
          example: correspondent
      responses:
        "200":
          description: List of agents retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentsResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
    post:
      tags:
        - Agents
      summary: Create agent
      description: |
        Creates a new AI agent for news analysis and content generation.
        The agent's avatar will be automatically generated asynchronously.
      operationId: createAgent
      security:
        - BearerAuth: []
      requestBody:
        description: Agent configuration
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentInput"
            example:
              type: "correspondent"
              name: "Environmental Correspondent"
              description: "Analyzes environmental news and generates summaries"
              agencyId: "agency-123"
              llm:
                provider: "openai"
                model: "gpt-4"
              angle: "environmental"
              prompt: "You are an environmental news analyst..."
      responses:
        "200":
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /agents/{agentId}:
    get:
      tags:
        - Agents
      summary: Get agent by ID
      description: Retrieves a single agent by its ID
      operationId: getAgent
      parameters:
        - name: agentId
          in: path
          description: Agent ID
          required: true
          schema:
            type: string
            example: "abc12345"
      responses:
        "200":
          description: Agent retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags:
        - Agents
      summary: Update agent
      description: Updates an existing agent's configuration
      operationId: updateAgent
      security:
        - BearerAuth: []
      parameters:
        - name: agentId
          in: path
          description: Agent ID
          required: true
          schema:
            type: string
            example: "abc12345"
      requestBody:
        description: Agent fields to update (partial update supported)
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentInput"
            example:
              name: "Updated Environmental Correspondent"
              description: "Updated description"
              prompt: "Updated system prompt..."
      responses:
        "200":
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Agents
      summary: Delete agent
      description: Deletes an agent by its ID
      operationId: deleteAgent
      security:
        - BearerAuth: []
      parameters:
        - name: agentId
          in: path
          description: Agent ID
          required: true
          schema:
            type: string
            example: "abc12345"
      responses:
        "200":
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "404":
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /signals:
    get:
      tags:
        - Signals
      summary: List signals
      description: Retrieves all news signals from the database, optionally filtered by PESTEL factor
      operationId: listSignals
      parameters:
        - name: factor
          in: query
          description: Filter signals by PESTEL factor
          required: false
          schema:
            $ref: "#/components/schemas/Factor"
          example: environmental
      responses:
        "200":
          description: List of signals retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignalsResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sources:
    get:
      tags:
        - Sources
      summary: List sources
      description: Retrieves all news sources (RSS feeds and newsletters) from the database, optionally filtered by PESTEL factor
      operationId: listSources
      parameters:
        - name: factor
          in: query
          description: Filter sources by PESTEL factor
          required: false
          schema:
            $ref: "#/components/schemas/Factor"
          example: environmental
      responses:
        "200":
          description: List of sources retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourcesResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      tags:
        - Sources
      summary: Create source
      description: Creates a new news source (RSS feed or newsletter)
      operationId: createSource
      security:
        - BearerAuth: []
      requestBody:
        description: Source configuration
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceInput"
            example:
              source: "BBC News"
              type: "rss"
              url: "https://feeds.bbci.co.uk/news/rss.xml"
              factor: "environmental"
              agencyId: "agency-123"
      responses:
        "200":
          description: Source created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Source"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /sources/{sourceId}:
    get:
      tags:
        - Sources
      summary: Get source by ID
      description: Retrieves a single news source by its ID
      operationId: getSource
      parameters:
        - name: sourceId
          in: path
          description: Source ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        "200":
          description: Source retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Source"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Source not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags:
        - Sources
      summary: Delete source
      description: Deletes a news source by its ID
      operationId: deleteSource
      security:
        - BearerAuth: []
      parameters:
        - name: sourceId
          in: path
          description: Source ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        "200":
          description: Source deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Source"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "404":
          description: Source not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /reports:
    get:
      tags:
        - Reports
      summary: List reports
      description: Retrieves all reports from the database, optionally filtered by report type
      operationId: listReports
      parameters:
        - name: type
          in: query
          description: Filter reports by type
          required: false
          schema:
            $ref: "#/components/schemas/ReportType"
          example: foresight
      responses:
        "200":
          description: List of reports retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportsResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /reports/{reportId}:
    get:
      tags:
        - Reports
      summary: Get report by ID
      description: Retrieves a single report by its ID
      operationId: getReport
      parameters:
        - name: reportId
          in: path
          description: Report ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        "200":
          description: Report retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Report not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /summaries:
    get:
      tags:
        - Summaries
      summary: List summaries
      description: Retrieves all AI-generated summaries with poster images from the database
      operationId: listSummaries
      parameters:
        - name: type
          in: query
          description: Filter summaries by factor
          required: false
          schema:
            $ref: "#/components/schemas/Factor"
          example: political
      responses:
        "200":
          description: List of summaries retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SummariesResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"

  /summaries/{summary}:
    get:
      tags:
        - Summaries
      summary: Get summary by ID
      description: Retrieves a single summary by its ID
      operationId: getSummary
      parameters:
        - name: summary
          in: path
          description: Summary ID
          required: true
          schema:
            type: integer
            example: 42
      responses:
        "200":
          description: Summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Summary"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "404":
          description: Summary not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhooks/{id}:
    post:
      tags:
        - Webhooks
      summary: Handle webhook
      description: Receives and processes webhook events from external services
      operationId: handleWebhook
      parameters:
        - name: id
          in: path
          description: Webhook identifier
          required: true
          schema:
            type: string
            example: "abc123"
      requestBody:
        description: Webhook payload (accepts any JSON)
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
